* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #2a2141;
  --border-color: #ad95c8;
  --font-color: white;
  --bg-body: black;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  
  background-color: var(--bg-body);
}

#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 5px;

  padding: 24px;

  width: 700px;

  border-radius: 10px;

  background-color: var(--bg-color);
}

/*====================ID - LOGO====================*/
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#logo img {
  width: 300px;
}

#logo p {
  font-family: "Inter", sans-serif;
  font-size: 20px;

  color: var(--font-color);
}

/*====================ID - BUTTONS====================*/
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 588px;
  height: 320px;
}

#buttons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 20px;

  list-style: none;
}

#buttons ul li a {
  text-decoration: none;
}

#buttons ul li button {
  border: 2px solid var(--border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 540px;
  height: 56px;

  color: var(--cor-branco);

  border-radius: 8px;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;

  background-color: var(--bg-color);

  transition-duration: 0.3s;
  transition-property: background-color;

  box-shadow: 3px 3px 3px var(--border-color);
}

#buttons ul li button:hover {
  transition-duration: 0.3s;
  transition-property: background-color;
  background-color: rgba(0, 0, 0, 0.3);
}

/*====================ID - SOCIAL====================*/
#social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 30px;

  width: 588px;
  height: 88px;
}

#social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 150px;
}

#social ul li {
  list-style: none;
}

#social ul li img {
  width: 30px;

  transition-duration: 0.04s;
  transition-property: width;
}

#social ul li img:hover {
  transition-property: width;
  transition-duration: 0.02s;
  
  width: 32px;
}

#social p, a {
  color: var(--font-color);

  font-family: "Inter", sans-serif;
}
